#contact {
    background: rgb(230, 230, 230);
    padding: 3% 2% 10% 5%;
}

.cont {
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contnom #name {
    width: 50%;
    height: 50px;
    font-size: 150%;
    border-radius: 10px;
    margin-bottom: 2%;
}

.contemail #email {
    width: 50%;
    height: 50px;
    font-size: 150%;
    border-radius: 10px;
    margin-bottom: 2%;
}

.contmsg #texte {
    resize: vertical;
    min-height: 200px;
    width: 100%;
    height: 200px;
    font-size: 150%;
    border-radius: 10px;
}

.flexenvoi {
    display: flex;
    justify-content: flex-end;
}

.envoi {

    background-image: linear-gradient(to right, #fda085 0%, #f6d365 100%);
    color: #fff;
    font-size: 150%;
    padding: 2% 7%;
    margin-top: 5%;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #f6d365;
    transition: all 0.5s ease;
    text-decoration: none;
}

.envoi:hover {
    border: 2px solid #000000;
    color: #3f3f57;
    background: none;
}